@mixin jumbotron($backgroundColor){
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: $backgroundColor;
}

.jumbotron{
    @include jumbotron(rgb(31, 30, 30))
}

header{
    color:rgb(233, 230, 230);
    a{
      span{
        color:rgb(233,230,230);
      }  
    }
}